<h1>Usuarios registrados</h1>
<%= link_to "nuevo usuario", :controller => "users", :action => "new" %>
<table>
  <tr>
    <th>Nombre</th>
    <th>password</th>
    <th>tipo</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password_digest %></td>
        <td><%= user.tipo %></td>
      </tr>
  <% end %>
</table>
